<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.jerylmidtermsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Jeryl Midterms App</name>
    <description>
        An application based on the Midterms requirements for CMSC 202.

        The Midterm requirements are as follows.

        You are required to develop an android mobile application using Phone-Gap or Cordova with the below functionality on click of button

        1) Show Battery Status

        2) Show Geo Location

        3) Vibrate Phone

        4) Click and Save Photo

        5) Send SMS
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-battery-status" spec="^2.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.0" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="^2.2.3" />
    <plugin name="cordova.plugins.diagnostic" spec="^4.0.10" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="cordova.plugins.diagnostic.modules" value="LOCATION BLUETOOTH WIFI CAMERA NOTIFICATIONS MICROPHONE CONTACTS CALENDAR REMINDERS MOTION NFC EXTERNAL_STORAGE" />
    <platform name="android">
        <icon qualifier="mdpi" src="../JerylMidtermsApp/www/res/drawable-mdpi/jeryl_midterms_app_ic_launcher.png" />
        <icon qualifier="hdpi" src="../JerylMidtermsApp/www/res/drawable-hdpi/jeryl_midterms_app_ic_launcher.png" />
        <icon qualifier="xhdpi" src="../JerylMidtermsApp/www/res/drawable-xhdpi/jeryl_midterms_app_ic_launcher.png" />
        <icon qualifier="xxhdpi" src="../JerylMidtermsApp/www/res/drawable-xxhdpi/jeryl_midterms_app_ic_launcher.png" />
        <icon qualifier="xxxhdpi" src="../JerylMidtermsApp/www/res/drawable-xxxhdpi/jeryl_midterms_app_ic_launcher.png" />
        <resource-file src="../JerylMidtermsApp/www/res/drawable-hdpi/IconNotificationDefault.png" target="../JerylMidtermsApp/www/res/drawable-hdpi/IconNotificationDefault.png" />
        <resource-file src="../JerylMidtermsApp/www/res/drawable-hdpi/IconNotificationDefault.png" target="../JerylMidtermsApp/www/res/drawable-hdpi/IconNotificationDefault.png" />
        <resource-file src="../JerylMidtermsApp/www/res/drawable-xhdpi/IconNotificationDefault.png" target="../JerylMidtermsApp/www/res/drawable-xhdpi/IconNotificationDefault.png" />
        <resource-file src="../JerylMidtermsApp/www/res/drawable-xxhdpi/IconNotificationDefault.png" target="../JerylMidtermsApp/www/res/drawable-xxhdpi/IconNotificationDefault.png" />
        <resource-file src="../JerylMidtermsApp/www/res/drawable-xxxhdpi/IconNotificationDefault.png" target="../JerylMidtermsApp/www/res/drawable-xxxhdpi/IconNotificationDefault.png" />
    </platform>
    <plugin name="cordova-plugin-save-image" spec="^0.3.0" />
    <plugin name="cordova-plugin-photo-library" spec="2.1.1">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="To choose photos" />
    </plugin>
    <plugin name="cordova-plugin-photos" spec="^1.0.8" />
    <plugin name="cordova-sms-plugin" spec="^0.1.13" />
    <plugin name="onesignal-cordova-plugin" spec="^2.4.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
