.center-block {
	margin: 0 auto;
	width: 100%;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* height: 300px;
    width: 300px; */
}

/* Expanding the Text Area for SMS Messaging */
textarea#messageTxt.textarea {
	width: 100%;
}

/* div.center.toolbar_center.toolbar_title {
	background: red;
} */
